#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.valentine-container {
  background-color: linear-gradient(20deg, #fccb90 0%, #d57eeb 100%);
}

.kiss{
  height: 80%;
  width: 80%;
  border-radius: 60%;
}
.buttons{
  margin: 10px;
  gap:10px
}

.text{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: yellow;
  font-weight: 500;
  margin: 10px;
}